/* 
        RESET
*/

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

/* 
        GENERAL
*/

*{
    font-family: 'Roboto', sans-serif;
}

body{
    background-color: #F6F8F9;
}

.background-white{
    background-color: white;
}

/* 
        HEADER
*/

header{
    line-height: 50px;
    
}

h1{
    display: inline-block;
    vertical-align: middle;
}

#logo{
    vertical-align: middle;
}