/* 
        RESET
*/

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

/* 
        GENERAL
*/

*{
    font-family: 'Roboto', sans-serif;
    color: rgb(72, 72, 72);
}

body{
    background-color: #F6F8F9;
}

.background-white{
    background-color: white;
}

.container{
    width: 65%;
    margin: 0 auto;
    border-radius: 5px;
}

/* 
        HEADER
*/

header{
    line-height: 50px;
    margin-bottom: 50px;
    padding: 10px;
    
}

h1{
    display: inline-block;
    vertical-align: middle;
    color: black;
}

#logo{
    vertical-align: middle;
}

/* 
    BUTTONS
*/

.main-button{
    padding: 5px;
    border: 1px solid black;
    border-radius: 5px;
    height: 30px;
}

.main-buttons-settings{
    padding-left: 50px;
    padding-top: 20px;
    height: 60px;
    margin-bottom: 5px;
}

.selected{
    color: white;
    background-color: dodgerblue;
    border: 0px;
}

.not-selected{
    color:rgb(184, 179, 179);
    background-color: white;
    border: 1px solid rgb(184, 179, 179);
}

.task-button{
    padding: 3px;
    height: 25px;
    width: 70px;
    border: 1px solid black;
    border-radius: 10px;
    color: white;
    font-weight: 700;
}

.editorial-button{
    background-color:dodgerblue;
    border: 0px;
}

.q1goals-button{
    background-color:blueviolet;
    border: 0px;
}

.recruiting-button{
    background-color:mediumseagreen;
    border: 0px;
}

.mobile-button{
    background-color:darkorange;
    border: 0px;
}

.website-button{
    background-color:hotpink;
    border: 0px;
}

.sales-button{
    background-color:olivedrab;
    border: 0px;
}

/* 
    TASKS
*/

.tasks-settings{
   padding-left:50px;
   padding-top: 20px;
}

.task-section{
    line-height: 20px;
    margin-bottom: 50px;
}

.task{
    display: inline-block;
    margin-top: 10px;
}

.single-task{
    margin-bottom: 10px;
}

.check{
    display: inline-block;
    border: 1px solid black;
    border-radius: 50px;
    height: 20px;
    width: 20px;
    text-align: center;
    font-size: 12px;
}

.checked{
    color:lime;
    border: 1px solid lime;
}

.not-checked{
    color:red;
    border: 1px solid red;
}

